// loader
.loader {
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  color: var(--main-green-color);
}

.blogContent {
  width: 100%;
  .flexBox {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    .tagsBox {
      width: 50%;
      overflow: hidden;
      height: 20px;
      display: flex;
      align-items: center;
      .tag {
        display: block;
        margin-right: 10px;
        font-size: 13px;
        line-height: 20px;
        color: gray;
      }
    }
    .dateBox {
      display: flex;
      margin-top: -10px;
      p {
        display: block;
        align-items: center;
        font-size: 13px;
        line-height: 20px;
        color: rgb(255, 255, 255);
      }
      .createdAt {
        margin-right: 10px;
        .icon {
          margin-right: 5px;
        }
      }
      .updatedAt {
        .icon {
          margin-right: 5px;
        }
      }
    }
  }
  .title {
    display: block;
    font-size: 34px;
    margin-bottom: 20px;
    word-wrap: break-word; /* 長い単語を折り返し */
    hyphens: auto; /* ブラウザがサポートしている場合、自動でハイフンを挿入 */
  }

  .topImageBox {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    .topImage {
      width: 100%;
      height: 100%;
    }
  }
}

// 全てブログページのタグに対応するスタイル
.blogContent {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ffffff;
    margin: 1.5em 0 0.5em;
    font-weight: 600;
    line-height: 1.2;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1em;
  }

  p {
    margin: 1em 0;
    font-size: 0.8em;
    line-height: 1.6;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  ul,
  ol {
    margin: 1em 0;
    padding-left: 2em;
  }

  li {
    margin: 0.5em 0;
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  br {
    display: block;
    margin: 1em 0;
  }
  code {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: #2d2d2d;
    color: #ffffff;
    border-radius: 10px;
    font-family: "Source Code Pro", monospace;
    font-size: 0.9em;
    position: relative;
    overflow: auto;
  }
  blockquote {
    position: relative; // 擬似要素の配置の基準点
    padding-left: 20px; // 左側の内側余白
    margin: 20px 0; // 上下の外側余白

    &::before {
      content: ""; // 擬似要素の内容は空
      position: absolute; // 絶対位置指定
      left: 0; // 左端から
      top: 0; // 上端から
      bottom: 0; // 下端まで
      width: 4px; // 線の太さ
      background-color: #ccc; // 線の色（グレー）
    }

    font-style: normal; // フォントスタイルは通常に
    color: #333; // 文字色
  }
}

@media screen and (max-width: 1280px) {
  .blogContent {
    width: 100%;
    .flexBox {
      display: block;
      justify-items: center;
      justify-content: space-between;
      margin-bottom: 0px;
      .tagsBox {
        height: 20px;
        display: flex;
        align-items: center;
        .tag {
          display: block;
          margin-right: 10px;
          font-size: 13px;
          line-height: 20px;
          color: gray;
        }
      }
      .dateBox {
        display: flex;
        p {
          display: block;
          align-items: center;
          font-size: 13px;
          line-height: 20px;
          color: gray;
        }
        .createdAt {
          margin-right: 10px;
          .icon {
            margin-right: 5px;
          }
        }
        .updatedAt {
          .icon {
            margin-right: 5px;
          }
        }
      }
    }
    .title {
      display: block;
      width: 100%;
      font-size: 34px;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    .topImageBox {
      width: 100%;
      height: 200px;
      margin-bottom: 30px;
      .topImage {
        width: 100%;
        height: 100%;
      }
    }
  }
}
