.linkBox {
  position: relative;
  padding: 17px;
  text-decoration: none;
  margin-right: 20px;
  .linkText {
    font-size: 12px;
    color: var(--main-white-color);
    display: inline-block; // アンダーラインのアニメーションに必要
    position: relative; // 擬似要素の基準点
    &::before {
      content: "";
      position: absolute;
      width: 0; // 初期状態では幅0
      height: 1px; // アンダーラインの厚み
      bottom: -10px; // テキストの下部に配置
      left: 0;
      background-color: var(--main-green-color); // アンダーラインの色
      visibility: hidden; // 初期状態では非表示
      transition: all 0.3s ease-in-out; // アニメーションの速度とタイプ
    }

    &:hover::before {
      visibility: visible;
      width: 100%; // ホバー時に幅を100%に
    }
  }
}

@media screen and (max-width: 1280px) {
  .linkBox {
    display: none;
  }
}
