.linkBox {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  &:hover .linkText {
    transition: all 0.2s ease-in-out;
    color: var(--main-pink-color);
  }
  .linkText {
    width: auto;
    font-size: 32px;
    line-height: 38px;
    color: var(--main-white-color);
  }
}

@media screen and (max-width: 1280px) {
  .linkBox {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    &:hover .linkText {
      transition: all 0.2s ease-in-out;
      color: var(--main-pink-color);
    }
    .linkText {
      width: auto;
      font-size: 23px;
      line-height: 30px;
      color: var(--main-white-color);
    }
  }
}

@media screen and (max-width: 400px) {
  .linkBox {
    display: block;
    width: 100%;
    height: 27px;
    margin-top: 17px;
    margin-bottom: 13px;
    text-decoration: none;
    &:hover .linkText {
      transition: all 0.2s ease-in-out;
      color: var(--main-pink-color);
    }
    .linkText {
      width: auto;
      font-size: 17px;
      line-height: 29px;
      color: var(--main-white-color);
    }
  }
}
