.button {
  width: auto;
  height: 50px;
  min-width: 400px;
  border-radius: 20px;
  border: 1px solid red;
  .buttonText {
    color: var(--main-black-color);
    .circle {
      .icon {
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 500px) {
}
