.contact {
  width: 100vw;
  height: auto;
  padding: 100px 0px;
  .container {
    width: 60%;
    margin: 0 auto;
    display: flex;

    .leftBox {
      width: 45%;
      .titleBox {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        .jaTitle {
          font-size: 24px;
        }
        .enTitle {
          font-size: 100px;
        }
      }
    }
    .rightBox {
      width: 50%;
    }
  }
}
