.footer {
  width: 100vw;
  height: auto;
  min-height: 500px;
  padding: 100px 0px;
  background-color: var(--main-green-color);
  .container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    .leftBox {
    }
    .rightBox {
      .topBox {
      }
      .bottomBox {
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 600px) {
}
