.news {
  width: 100vw;
  height: auto;
  padding: 0 0 150px 0;
  .container {
    width: 60%;
    margin: 0 auto;
    .titleBox {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
      .jaTitle {
        font-size: 24px;
        font-weight: bold;
        color: var(--main-green-color);
      }
      .enTitle {
        font-size: 100px;
      }
    }
    .newsBox {
      width: 100%;
      height: 600px;
      display: flex;
      justify-content: space-between;
      .leftBox {
        width: 45%;
        height: 100%;
      }
      .rightBox {
        width: 50%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .news {
    width: 100vw;
    height: auto;
    padding: 0 0 150px 0;
    .container {
      width: 90%;
      margin: 0 auto;
      .titleBox {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        .jaTitle {
          font-size: 24px;
          font-weight: bold;
          color: var(--main-green-color);
        }
        .enTitle {
          font-size: 100px;
        }
      }
      .newsBox {
        width: 100%;
        height: 1100px;
        display: block;
        justify-content: space-between;
        .leftBox {
          width: 100%;
          height: 400px;
          margin-bottom: 50px;
        }
        .rightBox {
          width: 100%;
          height: 700px;
        }
      }
    }
  }
}
