.sidebar {
  width: 100px;
  height: 100vh;
  background-color: var(--main-black-color);
  .top {
  }
  .middle {
  }
  .bottom {
    position: absolute;
    bottom: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
}
