.sidebar {
  width: 100px;
  height: 100vh;
  background-color: var(--main-black-color);
  .top {
  }
  .middle {
  }
  .bottom {
  }
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
