@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.top {
  width: 100%;
  height: 100vh;
  display: flex;
  .leftBox {
    width: 100px;
    height: 100%;
  }
  .rightBox {
    width: calc(100% - 100px);
    height: 100%;
    .topBox {
      width: 100%;
      height: 300px;
      background-color: var(--main-pink-color);
      .header {
        width: 100%;
        height: 100px;
        padding-right: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .title {
        position: absolute;
        top: 177px;
        left: 190px;
        display: block;
        font-weight: bold;
        font-size: 85px;
        font-family: "IBM Plex Mono", monospace;
        letter-spacing: -2px;
        line-height: 80.4px;
        background-repeat: no-repeat;
      }
      .circle {
        position: absolute;
        top: 220px;
        right: 200px;
        width: 144px;
        height: 144px;
        border-radius: 144px;
        background-color: var(--main-black-color);
        line-height: 144px;
        text-align: center;
        color: var(--main-pink-color);
        font-size: var(--xsmall-font-size);
        &:hover {
          background-color: var(--main-white-color);
          transition: all 0.5s;
        }
      }
    }
    .bottomBox {
      width: 100%;
      height: calc(100% - 300px);
    }
  }
}

@media screen and (max-width: 1280px) {
  .top {
    width: 100%;
    height: 100vh;
    .leftBox {
      display: none;
    }
    .rightBox {
      width: 100%;
      height: 100%;
      .topBox {
        width: 100%;
        height: 300px;
        background-color: var(--main-pink-color);
        .header {
          width: 100%;
          height: 100px;
          padding-right: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .title {
          position: absolute;
          top: 195px;
          left: 20px;
          display: block;
          font-weight: bold;
          font-size: 48px;
          font-family: "IBM Plex Mono", monospace;
          letter-spacing: -2px;
          line-height: 50px;
          background-repeat: no-repeat;
        }
        .circle {
          display: none;
        }
      }
      .bottomBox {
        width: 100%;
        height: calc(100% - 300px);
      }
    }
  }
}
