.top {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  .leftBox {
    width: 65%;
    height: 100%;
  }
  .rightBox {
    width: 35%;
    height: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .top {
    width: 100vw;
    height: 100vh;
    .leftBox {
      width: 100%;
      height: 100%;
    }
    .rightBox {
      display: none;
    }
  }
}
