.btnBox {
  width: auto;
  height: auto;
  display: flex;
  // .btnCircle {
  //   cursor: pointer;
  //   width: 40px;
  //   height: 40px;
  //   border-radius: 40px;
  //   background-color: var(--main-white-color);
  //   .btnIcon {
  //     width: 40px;
  //     height: 40px;
  //     border-radius: 40px;
  //     color: var(--main-pink-color);
  //   }
  // }
  .jaCircle {
    margin-right: 20px;
    .btn {
      cursor: pointer;
      width: 50px;
      height: 30px;
      border-radius: 10px;
    }
  }
  .enCircle {
    .btn {
      cursor: pointer;
      width: 50px;
      height: 30px;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .btnBox {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}
