.linkBox {
  position: relative;
  cursor: pointer;
  display: block;
  width: 350px;
  height: 520px;
  padding: 40px;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--sub-text-color);
  &:hover .hoverBox {
    opacity: 1;
  }
  &:hover .img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  &.hover .circle {
    transform: translateX(-20px);
  }
  .title {
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
    font-size: 28px;
    font-weight: 550;
    margin-bottom: 30px;
    color: var(--main-white-color);
    z-index: 35;
  }
  .img {
    position: absolute;
    width: 270px;
    border-radius: 5px;
    top: 100px;
    z-index: 3;
  }
  .hoverBox {
    position: absolute;
    transition: all 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--main-pink-color);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .mainText {
      position: absolute;
      width: 80%;
      left: 40px;
      height: auto;
      top: 140px;
      font-size: 16px;
      line-height: 22px;
      color: var(--main-white-color);
    }
    .circle {
      position: absolute;
      bottom: 80px;
      right: 20px;
      width: 200px;
      height: 200px;
      border-radius: 200px;
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
      background-color: rgba(211, 211, 211, 0.228);
    }
  }
  .arrow {
    display: inline-block;
    width: auto;
    padding: 0px;
    text-align: center;
    color: #fff;
    margin: 0px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    top: 400px;
    left: 90px;
    z-index: 30;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 5px);
      right: 20px;
      width: 70px;
      height: 5px;
      border: none;
      border-right: 2px solid #fff;
      border-bottom: 1px solid #fff;
      transform: skew(45deg);
      transition: 0.3s;
    }
  }
}

@media screen and (max-width: 1280px) {
  .linkBox {
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 520px;
    padding: 40px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--sub-text-color);
    margin-bottom: 20px;
    &:hover .hoverBox {
      opacity: 1;
    }
    &:hover .img {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    &.hover .circle {
      transform: translateX(-20px);
    }
    .title {
      display: block;
      position: absolute;
      width: 100%;
      height: 40px;
      font-size: 28px;
      font-weight: 550;
      margin-bottom: 30px;
      color: var(--main-white-color);
      z-index: 35;
    }
    .img {
      position: absolute;
      width: 295px;
      border-radius: 5px;
      top: 100px;
      z-index: 3;
    }
    .hoverBox {
      position: absolute;
      transition: all 0.5s;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: var(--main-pink-color);
      z-index: 2;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      .mainText {
        position: absolute;
        width: 80%;
        left: 40px;
        height: auto;
        top: 140px;
        font-size: 16px;
        line-height: 22px;
        color: var(--main-white-color);
      }
      .circle {
        position: absolute;
        bottom: 80px;
        right: 20px;
        width: 200px;
        height: 200px;
        border-radius: 200px;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        background-color: rgba(211, 211, 211, 0.228);
      }
    }
    .arrow {
      display: inline-block;
      width: auto;
      padding: 0px;
      text-align: center;
      color: #fff;
      margin: 0px;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      top: 400px;
      left: 90px;
      z-index: 30;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 5px);
        right: 20px;
        width: 70px;
        height: 5px;
        border: none;
        border-right: 2px solid #fff;
        border-bottom: 1px solid #fff;
        transform: skew(45deg);
        transition: 0.3s;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .linkBox {
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 500px;
    padding: 40px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--sub-text-color);
    &:hover .hoverBox {
      opacity: 1;
    }
    &:hover .img {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    &.hover .circle {
      transform: translateX(-20px);
    }
    .title {
      display: block;
      position: absolute;
      width: 100%;
      height: 40px;
      font-size: 28px;
      font-weight: 550;
      margin-bottom: 30px;
      color: var(--main-white-color);
      z-index: 35;
    }
    .img {
      position: absolute;
      width: 260px;
      border-radius: 5px;
      top: 100px;
      z-index: 3;
    }
    .hoverBox {
      position: absolute;
      transition: all 0.5s;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: var(--main-pink-color);
      z-index: 2;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      .mainText {
        position: absolute;
        width: 80%;
        left: 40px;
        height: auto;
        top: 140px;
        font-size: 16px;
        line-height: 22px;
        color: var(--main-white-color);
      }
      .circle {
        position: absolute;
        bottom: 80px;
        right: 20px;
        width: 200px;
        height: 200px;
        border-radius: 200px;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        background-color: rgba(211, 211, 211, 0.228);
      }
    }
    .arrow {
      display: inline-block;
      width: auto;
      padding: 0px;
      text-align: center;
      color: #fff;
      margin: 0px;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      top: 400px;
      left: 90px;
      z-index: 30;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 5px);
        right: 20px;
        width: 70px;
        height: 5px;
        border: none;
        border-right: 2px solid #fff;
        border-bottom: 1px solid #fff;
        transform: skew(45deg);
        transition: 0.3s;
      }
    }
  }
}
