.card {
  display: block;
  width: 100%;
  height: calc(100% / 4);
  padding: 30px;
  text-decoration: none;
  border-top: 0.1px solid gray;
  border-bottom: 0.1px solid gray;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-bottom: 1px solid var(--main-green-color);
  }
  &:hover .title {
    color: var(--main-green-color);
  }
  &:hover .desc {
    color: var(--main-green-color);
  }
  .title {
    font-size: 20px;
    line-height: 40px;
    color: var(--main-white-color);
    transition: all 0.3s ease-in-out;
  }
  .desc {
    font-size: 12px;
    margin-bottom: 20px;
    color: var(--main-white-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
  }
  .date {
    font-size: 12px;
    color: var(--main-green-color);
  }
}

@media screen and (max-width: 1280px) {
  .card {
    display: block;
    width: 100%;
    height: calc(100% / 4);
    padding: 20px 20px;
    text-decoration: none;
    border-top: 0.1px solid gray;
    border-bottom: 0.1px solid gray;
    .title {
      font-size: 18px;
      color: var(--main-white-color);
    }
    .desc {
      font-size: 14px;
      margin-bottom: 20px;
      color: var(--main-white-color);
    }
    .date {
      font-size: 10px;
      color: var(--main-green-color);
    }
  }
}
